[submodule "Sources/implementation/swift-crypto"]
	path = Sources/implementation/swift-crypto
	url = https://github.com/apple/swift-crypto
[submodule "Sources/secp256k1"]
	path = Sources/secp256k1
	url = https://github.com/bitcoin-core/secp256k1
[submodule "Sources/bindings/secp256k1"]
	path = Sources/bindings/secp256k1
	url = https://github.com/bitcoin-core/secp256k1
[submodule "secp256k1"]
	path = secp256k1
	url = /Users/mohamedrebink/Documents/Rebin's Workspace/iGrant/iOS/iGrant_other/web3swift/Sources/bindings/secp256k1
